*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db316f;
}

.card__wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 600px;
    min-height: 400px;
    background: #46b42a;
    border-radius: 20px;
    color: #fff;
}